/* general settings */
* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
}

.container {
  margin: 0 auto;
  width: 360px;
  height: 640px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

/* status bar settings */
.status-bar {
  background-color: #5D3186;
}

.status-bar-icons {
  display:inline-block;
  margin-left: 73%;
}

.status-content {
  width: 16%;
  float: right;
}

/* toolbar settings */
.toolbar {
  background-color: #9B51E0;
  box-shadow: 0px 2px 4px 2px #777;
  margin-bottom: 2%;
}

/* nav bar settings */
.navbar {
  background-color: #000000;
  position: fixed;
  width: 360px;
  height: 50px;
  bottom: 0px;
}

.navbar-icons {
  padding: 4.5%;
}

/* bus list settings */
.line{
  width: 60%;
  padding: 5% 0 4% 0;
  display: inline-block;
}

.time {
  text-align: right;
  width: 22%;
  padding: 7% 4% 5% 0;
  display: inline-block;
  float: right;
}

.favorite {
  padding: 5%;
  display: inline;
  float:left;
}

.bus:hover { background-color: #ccc}

/* text settings */
h1 {
  color: #fff;
  padding: 5% 0 5% 20%;
  font-size: 1.7em;
}

h2 {
  color: #2a2a2a;
  font-size: 1.5em;
}

h3 {
  color: #a8a8a8;
  font-weight: lighter;
  padding: 1% 0 0 0;

}

h4 {
  color: #fff;
  text-align: right;
  padding: 1%;
}
